body{
    /* background: linear-gradient(#00438a,skyblue);
    background-repeat: no-repeat; */
    /* background-attachment: fixed; */
    background: linear-gradient(#00438a,skyblue);    background-repeat: no-repeat;
    background-attachment: fixed;
    /* background-position: center; */
    background-size: cover;
}
#top{
    background-image: url("https://media.istockphoto.com/id/1225791966/vector/industrial-seamless-pattern-piping-for-water-gas-oil.jpg?s=612x612&w=0&k=20&c=lcLkr0KEoiiItu9DCdlboFTKdaSW4zFHzSerKNgFQRM=");
    background-repeat: repeat-x;
    background-size:contain;
    border-radius: 5px;
    -webkit-text-stroke: 1px rgb(0, 0, 0);
    border-style: double;
    border-color: aliceblue;
}

.header{
    text-align: center;
    color: whitesmoke;
    font-family: arial;
    padding-bottom: 5px;
}

#motto{
    /* border-bottom-style:double;
    padding-bottom: 10px;     */
}

#logo1{
    width:165px;
    height:90px;
}

p{
    background-color: rgb(26, 26, 26);
    font-family: "consolas",sans-serif;
    color: #ffffffc2;
    font-weight: bold;
    border-style:outset;
    border-width: 2px;
    border-color: #ffffffc2;
    border-radius: 7px;
    padding: 5px;
}
/* this is using the id of p3, to specifically style that element */
/* #p1{
    color: #d1ae00;
} */